name: E2E

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: read
concurrency:
  group: e2e-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e:
    runs-on: ubuntu-latest
    # Avoid running on draft PRs
    if: github.event.pull_request.draft == false    
    services:
      verdaccio:
        image: verdaccio/verdaccio:6
        ports:
          - 4873:4873

    steps:
      - uses: actions/checkout@v3
      - name: Use Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.nvmrc'
      - name: Install pnpm
        run: npm i -g corepack@latest || corepack enable && corepack prepare pnpm@latest --activate
      - name: install
        run: pnpm install
      - name: build
        run: pnpm build
      - name: login
        run: npx npm-cli-login -u test -p 1234 -e test@domain.test -r http://localhost:4873
      - name: pre-release
        run: npm version patch --no-git-tag-version
      - name: publish
        run: pnpm publish --registry http://localhost:4873 --no-git-checks
      - name: install yeoman
        run: npm install -g yo
      - name: install generator
        run: npm install -g generator-verdaccio-plugin --registry http://localhost:4873
