name: Node CI

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.nvmrc'
      - name: Install pnpm
        run: npm i -g corepack@latest || corepack enable && corepack prepare pnpm@latest --activate
      - name: install
        run: pnpm install
      - name: lint
        run: pnpm run lint
      - name: build
        run: pnpm build
      - name: test
        run: pnpm test